/*--------- Fonts -----------*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

.ubuntu-500 {
  font-family: 'Ubuntu';
  font-weight: 500;
}

.ubuntu-700 {
  font-family: 'Ubuntu';
  font-weight: 700;
}

.ubuntu-400 {
  font-family: 'Ubuntu';
  font-weight: 400;
}

.ubuntu-300 {
  font-family: 'Ubuntu';
  font-weight: 300;
}


/*--------- Navbar -----------*/

.btn-create {
  float: right;
  background-color: #FFEB3B;
  color: #616161;
  margin-left: 10px;
}

.btn-list {
  float: right;
  background-color: #FFEB3B;
  color: #616161;
}

.nav-wrapper {
text-align: center;
}

.menu {
  background-color: #F5F5F5;
  height: 80px;
}

/*--------- Big Container -----------*/

.big-container {
  max-width: 1000px;
  margin: 50px auto 20px auto;
}

.line-divider {
  height: 2px;
  background-color: #B6B6B6;
}

.header-1 {
  color: #616161;
}

.btn-large {
  padding: 0 15px 0 15px;
}

/*--------- Alerts -----------*/
.alert{
  color: white;
  background-color: #ef5350;
  border-color:   #ef5350;
  padding:       20px;
  margin:        10px;
  border-radius: 10px;
}

/*--------- Footer -----------*/
html{
  position: relative;
}

body{
  /*padding-bottom: 111px;*/
}

footer.page-footer {
  background-color: #fff9c4;
  padding: 5px 0 5px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  /*height: 111px;*/
}

.copyright {
  color: #616161;
  text-align: center;
}

.my-footer li {
  display: inline-block;
  margin: 0;
}

.my-footer ul {
  text-align: center;
}

.my-footer a {
  text-decoration: underline;
  color: #616161;
}

.my-footer a:hover {
  color: #26a69a;
}

/*--------- Page New -----------*/

.header-2 {
  color: #9E9E9E;
  margin-top: 0px;
}

.btn-sub {
  float: right;
  color: #F5F5F5;
}

.row-sub {
  padding: 0 0 0 0;
}

.picker__date-display {
  background-color: #B6B6B6;
}

.picker__weekday-display {
  background-color: #9E9E9E;
}

.picker__close, .picker__today, .picker__day--highlighted {
  color: #FFEB3B;
}

.picker__day.picker__day--today {
  color:  #FFEB3B;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
  background-color: #FFEB3B;
}

.type-road li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.input-field {
  font-family: 'ubuntu';
  font-weight: 500;
}

.big-container-2 {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.responsive-img {
  background-color: black;
}

/*--------- Page Show -----------*/

.show-list-1 {
  color: #616161;
  margin-top: 0;
}

.show-list-2 {
  margin-top: 0;
  color: #B6B6B6;
  font-size: 25px;
}

.show-list-3 {
  margin-top: 0;
  color: #26a69a;
  font-size: 32px;
}

.my-card {
  padding: 15px 0 15px 0;
}

.my-map {
  margin-bottom: 20px;
}

/*--------- Page Index -----------*/

.pagination li.active {
  background-color:  #26a69a;
}

.table-1 {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: #26a69a;
  font-size: 16px;
}

.table-2 {
  font-family: 'Ubuntu';
  font-weight: 400;
  color: #616161;
  font-size: 14px;
}

.table-3 {
  font-family: 'Ubuntu';
  font-weight: 700;
  color: #616161;
  font-size: 20px;
}

table a:hover {
  text-decoration: underline;
}

.text-align {
  text-align: center;
}
